<div class="container">
  <ol class="breadcrumb" style="padding: 0;">
    <li><a href="#">Home</a></li>
    <li><a ui-sref="acompanhamento-list">Acompanhamento</a></li>
    <li class="active">Novo acompanhamento</li>
  </ol>
  <div class="card-body card-padding">
  </div>
  <div class="card">
    <div class="card-header">
      <h2></h2>
    </div>
    {{ acompanhamento }}
    <div class="card-body card-padding">
      <form name="formacompanhamento" role="form" novalidate ng-submit="save(acompanhamento)">
        <div class="form-group fg-float m-b-30">
            <p class="f-500 c-black m-b-15">Paciente</p>
            <select chosen class="w-100" data-placeholder="Selecione o ..." ng-options="paciente.nome for paciente in pacientes" ng-model="pacienteSelecionado"
              ng-required="!pacienteSelecionado">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group fg-float m-b-30">
            <p class="f-500 c-black m-b-15">Remédios</p>
            <select chosen class="w-100" data-placeholder="Selecione o ..." ng-options="remedio.nome for remedio in remedios" ng-model="remedioSelecionado"
              ng-required="!remedioSelecionado">
                <option value=""></option>
            </select>
        </div>
        <div class="row">
          <div class="col-sm-6 m-b-20">
              <div class="form-group">
                <label for="sel1">Doença Crónica</label>
                <select ng-model="acompanhamento.tipoAcompanhamento" class="form-control fg-input" ng-change="showDiv(acompanhamento.tipoAcompanhamento)">
                  <option value=""></option>                    
                  <option value="2">Hipertensão</option>
                  <option value="1">Diabetes</option>
                </select>
              </div>
          </div>

          <div class="col-sm-6 m-b-20">
              <div class="form-group">
                  <label for="sel1">Periodo de observação</label>
                  <input type="number" class="form-control fg-input" name="acompanhamento.periodo">
              </div>
          </div>
        </div>
        <div class="row" ng-show="glicemia">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Glicemia</label>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Alta" ng-model="acompanhamento.glicoseAlta">                  
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Baixa" ng-model="acompanhamento.glicoseBaixa">                  
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-show="pressaoArterial">
              <div class="form-group">
                  <div class="col-sm-6">
                    <label for="">Pressão Arterial</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Sistólica minima" ng-model="acompanhamento.pressaoAltaMinima">                  
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Sistólica máxima" ng-model="acompanhamento.pressaoAltaMaxima">                  
                    </div>
                  </div>
                  <div class="col-sm-6">
                      <label for=""> </label>                      
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Diastólica minima" ng-model="acompanhamento.pressaoBaixaMinima">                  
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Diastólica máxima" ng-model="acompanhamento.pressaoBaixaMaxima">                  
                      </div>
                  </div>                      
            </div>
          </div>
        <button type="submit" class="btn btn-primary btn-sm m-t-10" ng-disabled="formacompanhamento.$invalid">Salvar</button>
      </form>
    </div>
  </div>
</div>