<div class="container">
  <ol class="breadcrumb" style="padding: 0;">
    <li><a href="#">Home</a></li>
    <li><a ui-sref="modalidade-list">Modalidades</a></li>
    <li class="active">{{titlePage}} deploy</li>
  </ol>
  <div class="card-body card-padding">
  </div>
  <div class="card">
    <div class="card-header">
      <h2></h2>
    </div>
    <div class="card-body card-padding">
      <form name="formModalidade" role="form" novalidate ng-submit="save(modalidade)">
        <div class="form-group fg-float m-b-30">
          <div class="fg-line" ng-class="{'fg-toggled': modalidade.nome != null}">
            <input type="text" class="form-control fg-input" ng-model="modalidade.nome" ng-value="modalidade.nome" required>
            <label class="fg-label">Nome<small style="color: red;">*</small></label>
          </div>
        </div>
        <div class="form-group fg-float m-b-30">
          <div class="fg-line" ng-class="{'fg-toggled': modalidade.valor != null}">
            <input type="text" class="form-control fg-input" ng-model="modalidade.valor" ng-value="modalidade.valor" ui-money-mask>
            <label class="fg-label">Valor</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 m-b-20">
            <div class="toggle-switch" data-ts-color="green">
              <label for="ts4" class="ts-label">Status<small style="color: red;">*</small></label>
              <input id="ts4" type="checkbox" hidden="hidden" ng-model="modalidade.status">
              <label for="ts4" class="ts-helper"></label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm m-t-10" ng-disabled="formModalidade.$invalid">Salvar</button>
      </form>
    </div>
  </div>
</div>